button.button {
	user-select: none;
	border: none;
	background: none;
	display: inline-block;
	font-family: 'VisbyCF';
	font-weight: 800;
	cursor: pointer;
	padding: 10px 15px;
	color: var(--text);
	background-color: var(--content);
	will-change: background-color, opacity;
	transition: background-color 0.2s ease-in-out, opacity 0.15s ease-in-out, background 0.2s ease-in-out;
	font-size: 1rem;
	border-radius: var(--border-radius);
	outline: none;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

button.small {
	padding: 8px 10px;
	font-size: 0.8em;
	border-radius: var(--border-radius-small);
}

/* BIG BUTTONS */
button.button.big {
	width: auto;
	display: flex;
	width: 100%;
	max-width: 500px;
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

/* primary */
button.button.big.primary {
	background: linear-gradient(124deg, var(--accent) 20%, var(--high-accent) 100%);
}

button.button.big.primary:hover, button.button.big.primary:focus {
	background: linear-gradient(124deg, var(--high-accent) 20%, var(--accent) 100%);
}

/* Success */
button.button.big.success {
	background: linear-gradient(124deg, var(--success-content) 20%, var(--success-accent) 100%);
}

button.button.big.success:hover, button.button.big.success:focus {
	background: linear-gradient(124deg, var(--success-accent) 20%, var(--success-content) 100%);
}

/* Error */
button.button.big.danger {
	background: linear-gradient(124deg, var(--error-content) 20%, var(--error-light) 100%);
}

button.button.big.danger:hover, button.button.big.danger:focus {
	background: linear-gradient(124deg, var(--error-light) 20%, var(--error-content) 100%);
}

/* GENERAL */
div.tag, button.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

button.button i.gg-icon {
	margin-left: 15px;
}

button.button i.gg-icon.solo {
	margin-left: 0px;
}

button.button:hover, button.button:focus {
	background-color: var(--accent);
}

button.button:active {
	opacity: 0.85;
}

/* CLEAR */
div.tag.clear, button.button.clear {
	border: 2px solid var(--accent);
	background-color: transparent;
	will-change: border;
	transition: border 0.2s ease-in-out;
}

button.button.clear:hover, button.button.clear:focus {
	border: 2px solid var(--high-accent);
}

/* PRIMARY */
div.tag.primary, button.button.primary {
	background-color: var(--accent);
}

button.button.primary:hover, button.button.primary:focus {
	background-color: var(--high-accent);
}

/* DARK */
div.tag.dark, button.button.dark {
	background-color: var(--dark);
}

button.button.dark:hover, button.button.dark:focus {
	background-color: var(--light-dark);
}

/* SUCCESS */
div.tag.success, button.button.success {
	background-color: var(--success-accent);
}

button.button.success:hover, button.button.success:focus {
	background-color: var(--success-content);
}

/* WARNING */
div.tag.warning, button.button.warning {
	background-color: var(--warning-content);
}

button.button.warning:hover, button.button.warning:focus {
	background-color: var(--warning-accent);
}

/* DANGER */
div.tag.danger, button.button.danger {
	background-color: var(--error-content);
}

button.button.danger:hover, button.button.danger:focus {
	background-color: var(--error-light);
}

/* FLAT */
button.button.flat {
	background-color: transparent;
}

button.button.flat:hover, button.button.flat:focus {
	background-color: transparent;
}

/* DISABLED */
div.tag[disabled], button.button[disabled] {
	background-color: var(--gray);
	cursor: auto;
}

button.button[disabled]:hover, button.button[disabled]:focus {
	background-color: var(--gray);
}

/* Tags */
div.tag {
	padding: 7px 10px;
	font-size: 0.8em;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

div.tag.flat {
	box-shadow: none;
}

div.tag i.gg-icon {
	transform: scale(0.55);
    margin-top: -10px;
    margin-bottom: -12px;
    margin-right: -7px;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

div.tag i.gg-icon:hover {
	opacity: 0.9;
}

div.tag {
	margin: 3px;
}

/* Tag with pill */
div.tag.info.pill {
	padding-left: 7px;
}

div.tag div.pill {
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: var(--accent);
	margin-right: 5px;
}

/* TAGS */
div.tag.info {
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 5px 12px;
}

div.tag.info.success {
	background-color:  var(--success-content);
	color: var(--success-light);
}

div.tag.info.success div.pill{
	background-color: var(--success-light);
}

div.tag.info.danger {
	background-color: var(--error-content);
	color: var(--error-light);
}

div.tag.info.danger div.pill{
	background-color: var(--error-light);
}

div.tag.info.warning {
	background-color: var(--warning-content);
	color: var(--warning-light);
}

div.tag.info.warning div.pill{
	background-color: var(--warning-light);
}
