button.button {
	--background-color: var(--primary-60);
	user-select: none;
	border: none;
	background: none;
	display: inline-block;
	font-family: 'VisbyCF';
	font-weight: 800;
	cursor: pointer;
	padding: 10px 15px;
	color: var(--text);
	background-color: var(--background-color);
	will-change: background-color, opacity;
	transition: background-color 0.2s ease-in-out, opacity 0.15s ease-in-out, background 0.2s ease-in-out;
	font-size: 1rem;
	border-radius: var(--border-radius);
	outline: none;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}



div.tag {
	background-color: var(--background-color);
	border: 1px solid var(--pill-border, var(--primary-50));
}

button.small {
	padding: 8px 10px;
	font-size: 0.8em;
	border-radius: var(--border-radius-small);
}

button.button:hover {
	--background-color: var(--primary-50);
}

button.button:focus-visible {
	outline: 2px solid var(--primary-50);
	outline-offset: 2px;
}


/* GENERAL */
div.tag, button.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

button.button i.gg-icon {
	margin-left: 15px;
}

button.button i.gg-icon.solo {
	margin-left: 0px;
}

button.button:active {
	opacity: 0.85;
}

/* CLEAR */
div.tag.clear, button.button.clear {
	border: 2px solid var(--background-color);
	background-color: transparent;
	will-change: border;
	transition: border 0.2s ease-in-out;
}

div.tag.clickable {
	cursor: pointer;
}

/* PRIMARY */
div.tag.primary, button.button.primary {
	--background-color: var(--blue-60);
}

button.button.primary:hover, button.button.primary:focus-visible {
	--background-color: var(--blue-80);
}

/* DARK */
div.tag.dark, button.button.dark {
	--background-color: var(--primary-05);
}

button.button.dark:hover, button.button.dark:focus-visible {
	--background-color: var(--primary-10);
}

/* SUCCESS */
div.tag.success, button.button.success {
	--background-color: var(--green-80);
}

button.button.success:hover, button.button.success:focus-visible {
	--background-color: var(--green-60);
}

/* WARNING */
div.tag.warning, button.button.warning {
	--background-color: var(--yellow-80);
}

button.button.warning:hover, button.button.warning:focus-visible {
	--background-color: var(--yellow-60);
}

/* DANGER */
div.tag.danger, button.button.danger {
	--background-color: var(--red-80);
}

button.button.danger:hover, button.button.danger:focus-visible {
	--background-color: var(--red-60);
}

/* FLAT */
button.button.flat {
	background-color: transparent;
}

button.button.flat:hover, button.button.flat:focus-visible {
	background-color: transparent;
}

/* DISABLED */
div.tag[disabled], button.button[disabled] {
	background-color: var(--gray);
	cursor: auto;
}

button.button[disabled]:hover, button.button[disabled]:focus-visible {
	background-color: var(--gray);
}

/* Tags */
div.tag {
	padding: 5px 25px;
	font-size: 1em;
	border-radius: 1rem;
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.3);
}

div.tag.flat {
	box-shadow: none;
}

div.tag i.gg-icon {
	transform: scale(0.55);
    margin-top: -10px;
    margin-bottom: -12px;
    margin-right: -7px;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}

div.tag i.gg-icon:hover {
	opacity: 0.9;
}

div.tag {
	margin: 3px;
}

/* Tag with pill */
div.tag.info.pill {
	padding-left: 7px;
}

div.tag div.pill {
	width: 1rem;
	height: 1rem;
	border-radius: 1rem;
	background-color: var(--accent);
	margin-right: 5px;
}

/* TAGS */
div.tag.info {
	font-size: 0.9em;
	text-transform: uppercase;
	padding: 5px 12px;
}

div.tag.info.success {
	background-color:  var(--success-content);
	color: var(--success-light);
}

div.tag.info.success div.pill{
	background-color: var(--success-light);
}

div.tag.info.danger {
	background-color: var(--error-content);
	color: var(--error-light);
}

div.tag.info.danger div.pill{
	background-color: var(--error-light);
}

div.tag.info.warning {
	background-color: var(--warning-content);
	color: var(--warning-light);
}

div.tag.info.warning div.pill{
	background-color: var(--warning-light);
}
