/* DROPDOWNS */
div.dropdown-container {
	position: relative;
	display: inline-block;
}

div.dropdown-container div.dropdown-content {
	position: absolute;
	min-width: 100%;
	padding: 10px;
	background: var(--content);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
	border-radius: var(--border-radius);
	z-index: 2;
}

div.dropdown-container div.dropdown-content.right {
	top: 0%;
	left: 100%;
}

div.dropdown-container div.dropdown-content.bottom {
	top: 100%;
	left: 0;
}

div.dropdown-container div.dropdown-content:not(.open) {
	display: none;
}

div.dropdown-container:hover:not(.clickable) div.dropdown-content {
	display: block;
}

div.dropdown-content.transparent {
	
}

div.dropdown-container div.dropdown-option {
	padding: 10px ;
	margin-bottom: 1px;
}

div.dropdown-container div.dropdown-option:not(.neutral) {
	cursor: pointer;
}

div.dropdown-container div.dropdown-option:hover:not(.neutral),
div.dropdown-container div.dropdown-option.active {
	border-radius: var(--border-radius);
	background: var(--disabled-dark);
}

/* SEPARATORS */
div.dropdown-content div.dropdown-separator {
	margin: 0.5rem 0;
	font-size: 0.7rem;
}

div.dropdown-content div.dropdown-separator span:not(.content):after {
	border-bottom: 2px solid var(--disabled);
}

div.dropdown-content div.dropdown-separator span.content:not(:empty) {
	padding: 0 10px;
}
