div.container {
	padding: 20px 40px;
}

div.box {
	padding: 15px 20px;
	border-radius: var(--border-radius);
	margin: 10px 0px;
}

div.box.lifted {
	box-shadow: 1px 5px 20px 0px rgba(0, 0, 0, 0.06);
}

div.box {
	/* background-color: var(--primary-10); */
	box-shadow: 0px 0px 20px 6px rgba(0,0, 0, 0.2);
}

div.container.fluid {
	max-width: 100%;
	width: 100%;
}

div.container.centered {
	margin: 0 auto;
}

/* ROWS */

div.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* CARDS */
div.card {
	display: inline-block;
	border-radius: var(--border-radius);
	border: 2px solid var(--primary-20);
	padding: 20px 24px;
	background-color: black;
}

div.card:hover {
	background-color: var(--primary-10);
}

div.card.fluid {
	width: 100%;
}

div.card:not(:last-child) {
	margin-bottom: 10px;
}

div.card-group {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

div.card-group div.card {
	/* Force it */
	margin-bottom: 10px;
}

@media only screen and (max-width:450px) {
	div.container {
		padding: 20px;
	}
}
