:root {
	/* Theme */
	--dark: #0f111b;
	--light-dark: #17191f;

	--content: #1a1a23;
	--text: #e8e6df;

	--accent: #2c2c77;
	--medium-accent: #444398;
	--high-accent: #6d6bff;

	--disabled: rgba(255, 255, 255, 0.5);
	--disabled-dark: #272727;
	--gray: #353535;
	--white-border: rgba(255, 255, 255, 0.7);
	
	/* Colors */
	--success-content: #132f2a;
	--success-accent: #127b69;
	--success-light: #25c1a7;

	--warning-content: #564d29;
	--warning-accent: #d09f23;
	--warning-light: #eac157;

	--error-content: #561c1a;
	--error-accent: #6d2523;
	--error-light: #b13434;

	/* Borders */
	--border-radius: 0.4rem;
	--border-radius-small: 0.3rem;
}
